:root {
  --tile-gap: 0.4vmax;
  --tile-padding: 0.6vmax;
  --tile-fontsize: 3.5vmax;
  --tile-bordersize: 0.3vmax;
  --interval: 3s;
}

body {
  margin: 0;
}

.playground_header {
  width: 100vw;
  padding: 3vh 0;
  text-align: center;
  background-color: white;
}

.playground_header > h1 {
  margin: 0;
}

.playground {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  display: flex;
  justify-content: center;
  gap: var(--tile-gap);
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transform: translateX(-50%);
}

.tiles_column {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  gap: var(--tile-gap);
  animation: going-down var(--interval) linear infinite;
}

.tile {
  padding: var(--tile-padding);
  font-size: var(--tile-fontsize);
  background: lightcyan;
  border: var(--tile-bordersize) transparent solid;
  border-radius: 15%;
}

.selected {
  border-color: orange;
}

@keyframes going-down {
  from {
  }

  to {
    transform: translateY(
      calc(
        var(--tile-fontsize) + var(--tile-gap) * 2 + var(--tile-bordersize) * 2 +
          var(--tile-padding) * 2
      )
    );
  }
}
