:root {
  --tile-gap: 0.4vmax;
  --tile-padding: 0.6vmax;
  --tile-fontsize: 3.5vmax;
  --tile-bordersize: 0.3vmax;
  --interval: 3s;
}

body {
  margin: 0;
}

.playground_header {
  width: 100vw;
  padding: 3vh 0;
  text-align: center;
  background-color: white;
}

#canvas {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 50%;
  height: 80vh;
  display: flex;
  justify-content: center;
  gap: var(--tile-gap);
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transform: translateX(-50%);
}
